body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
   background-color:#000f91 ;
}

/* #board {
    /* background-color: skyblue; */
    background-image: url("./latar.jpeg");
} */
